@import url('https://fonts.googleapis.com/css?family=MedievalSharp');
@import url('https://fonts.googleapis.com/css?family=Oswald');

body {
	font-size: 14px;
	box-sizing: border-box;
	color: #fff;
	/* background-image: url('./img/fundo_dungeon.jpg'); */
	background-color: #fff;
	background-position: center;
	font-family: 'MedievalSharp', cursive;
}

body *, body *:before, body *:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: font-family: 'MedievalSharp', cursive;
}

.bt {
	border: 5px solid #333;
    background: #fff;
    border-radius: 10px;
    box-shadow: -6px 5px 0 #ccc;
    font-family: font-family: 'MedievalSharp', cursive;
}

.content {
	float: left;
	position: relative;
	height: 80vh;
	width: 90%;
	margin: 1% 5% 0;
	padding: 25px;
	background-color: #fff;
	border:  2px solid #000;
	box-shadow:  -9px 9px 0px 2px #ccc ;
	/* background-color: #0ff; */
}

.deckPlace {
	float: left;
    position: relative;
    width: 50%;
    height: 90%;
	padding: 10px;
	font-size: 2em;
	/* background-color: #f0f; */
	padding: 10px;
}

.deckPlace .baseCarta {
	float: left;
	position: relative;
	background-color: #eee;
	border-radius:  10px;
	width: 266px;
    height: 447px;
}

.deckPlace .baseCartaCemiterio {
	float: left;
	position: relative;
	/* background-color: #ddd; */
	border: 5px solid #eee;
	border-radius:  10px;
	width: 266px;
    height: 447px;
    margin-left: 50px;
}


	
/* ESTILO GERAL DAS CARTAS */
	.card {
		float: left;
		position: absolute;
		width: 266px;
    	height: 447px;
		transition: 0.6s;  	
		transform-style: preserve-3d;    	
		box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
		margin:  10px 0 0 10px;
	}

	.backCard {
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 2;
		/* background-image: url('./img/backCarta.jpg'); */
		background-color: #555;
		backface-visibility: hidden;  
		border: 15px solid #333;
		border-radius: 10px;
	}

	.frontCard {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background-color: #fff;
		color:  #333;
		border-radius: 10px;
		display: block;
		border: 15px solid #333;
		transform: rotateY(180deg);
		backface-visibility: hidden;  
		transition: all 0.3s;
	}

	.frontCard .nome {
		float: left;
		position: relative;
		width: 100%;
		height: 40px;
		margin: 0;
		line-height: 1.4em;
		padding: 0 10px;
		font-size: 1em;
		/* color: #fff; */
	}

	.frontCard .imagem {
		float: left;
		position: relative;
		width: 100%;
		height: 190px;
		-webkit-background-size: 100%;
		background-size: 100%;
		background-color: #ccc;
	}

	.frontCard .cont-stats {
	    float: right;
	    position: absolute;
	    top: 40px;
	    right: 0;
	    width: 45px;
	    height: 190px;
	    display: flex;
	    flex-direction: column;
	}

	.frontCard .cont-stats > span {
		float: left;
	    position: relative;
	    width: 100%;
	    background: #333;
	    color: #fff;
	    height: 20%;
	    border-radius: 50px 0 0 50px;
	}

	.frontCard .cont-stats > span img {
	    float: left;
	    position: relative;
	    width: 17px;
	    top: 11px;
    	left: 7px;
	}

	.frontCard .cont-stats > span .valor {
	    float: right;
	    width: 17px;
	    font-size: 0.6em;
	    text-align: center;
	    line-height: 2.3em;
	}

	.frontCard .descricao {
		float: left;
		position: relative;
		padding: 30px;
		font-family: 'Oswald', sans-serif;
	    font-size: 0.5em;
	    float: left;
	    position: relative;
	    width: 100%;
	    height: 45%;
	   	/* color: #fff; */
	}


/* ESTADO DAS CARTAS */
	.card.entranojogo {
		top: -1000px;
		left: 50%;
	}

	.card.deFrente {
		transform: rotateY(180deg);
	}

	.card.cemiterio .frontCard {
		filter:grayscale(100%);
		background-color: #999;
	}

	.card .mudandoValor {
		transition: all 0.3s;
		transform:  scale(3);
		color: yellow;
	}

	/* grayscale */

	
/* STAGE */
	.stage {
		float: left;
	    position: relative;
	    width: 50%;
	    height: 90%;
		padding: 10px;
		font-size: 2em;
		/* background-color: #ff0; */
		padding: 10px 30px 20px;
	}
	

	.showtitle {
		float: left;
	    position: relative;
	    width: 100%;
	    height: 10%;
		border-bottom: 2px solid #eee;
		padding: 10px;
		/* grid-area: title; */
	}

	.showText {
		float: left;
	    position: relative;
	    width: 100%;
	    height: 50%;
		padding: 10px;
		overflow-y: scroll;
		/* grid-area: text; */
	}

	.showText .texto {
		float: left;
	    position: relative;
	    width: 100%;
	    height: auto;
	    padding: 5px 0;
	    font-size: 0.75em;
	    color: #333;
	    background-color: #ccc;
	}

	.showText .texto:first-of-type {
		color: $fff
		background-color: #777;
		font-size: 1em;
	}

	.showText .texto:nth-of-type(odd) {
		background-color: #ddd;
	}

	.showBts {
		float: left;
	    position: relative;
	    width: 100%;
	    height: 20%;
		border: 2px solid #eee;
		padding: 10px;
		overflow-y: scroll;
		/* grid-area: buttons; */
	}

	.showBts .bt {
	    float: left;
	    position: relative;
	    width: 100px;
	    height: 50px;
	    font-size: 0.7em;
	}

	.heroBar {
		float: left;
	    position: relative;
	    width: 100%;
	    height: 15%;
	    background-color: #fff;
		padding: 10px;
	}

	.heroBar .barL {
	    float: left;
	    position: relative;
	    width: 30%;
	}

	.heroBar .nome {
		float: left;
	    position: relative;
	    font-size: 1em;
	    width: 100%;
	}

	.heroBar .classe {
	    float: left;
	    position: relative;
	    font-size: 0.7em;
	    width: 100%;
	}

	.heroBar .barR {
	    float: left;
	    position: relative;
	    width: 70%;
	}

	.heroBar .barR > span {
		float: left;
	    position: relative;
	    width: 19%;	
	    color: #555;
	    border:  1px solid #ccc;
	    margin-right: 5px;
	}

	.heroBar .barR > span img {
		float: left;
	    position: relative;
	    width: 20px;
	    padding:  3px;
	    margin: 5px 5px 0 15px;
	    background-color: #555;
	    border-radius: 100%;
	}

	.heroBar .barR .valor {
	    float: left;
	    position: relative;
	    width: calc(100% - 40px);
	    text-align: center;
	    font-size: 0.9em;
	}

	.heroBar .barR .valor.mudandoValor {
		transition: all 0.3s;
		transform:  scale(2.5);
		color: red;
	}

/* MODAL */
	#bgModal {
		float: left;
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background-color: rgba(0, 0, 0, 0.5);
		z-index: 1000;
		opacity: 0;
		transition: all 0.3s;
	}
	#modal {
	    float: left;
	    position: fixed;
	    left: 50%;
	    top: 50%;    
	    z-index: 1001;
	    opacity: 0;
	    transition: all 0.3s;
	}

	#bgModal.complete, #modal.complete {
		opacity: 1;
	}

	#modal.gameover {
		width: 300px;
	    height: 200px;
	    margin-top: -100px;
	    margin-left: -150px;
	    background-color: transparent;
	}

	span.text-gameover {
	    display: block;
	    margin: auto;
	    text-align: center;
	    font-size: 4em;
	    line-height: 1em;
	    text-shadow: 2px 2px 2px #000;
	}
