.heroi {
    background-color: $headerColor;
}

.heroi__row {
    display: flex;
    width: 100%;
    margin: 0;
    padding: $gutter;
}

.heroi__row--1 {
    align-content: flex-end;
    justify-content: flex-start;
}

.heroi__face {
    width: 34px;
    height: 34px;
    margin-right: $gutter;
    background-color: $black;
    background-image: $spriteImage;
    background-position: 0 0;
    border: $simpleBorder;
}

.heroi__info {
    margin-left: $gutter;
}

.heroi__lifeBar {
    width: 90%;
    background: $white;
    height: 8px;
    display: block;
    border: $simpleBorder;
    margin-top: $gutter;
    margin-left: $gutter/2;
    position: relative;
    transform: skewX(45deg);
}

.heroi__lifeBar__inner {
    height: 100%;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    background: $blood;
}

.heroi__btn {
    border: none;
    margin-left: $gutter;
    width: 32px;
    height: 32px;
    background-image: $spriteImage;
    background-color: transparent;
    cursor: pointer;
}

.heroi__btn--status {
    background-position-x: -$tileBase;
    background-position-y: -$tileBase;
}

.heroi__btn--config {
    background-position: -$tileBase*2 -$tileBase;
}

//modal Infostatus
.infoStatus__row--1 {
    display: flex;
    flex-wrap: wrap;
}

.infoStatus__row h2 {
    flex-basis: 100%;
}

.infoStatus__charPhoto {
    width: $tileBase*2;
    height: $tileBase*2;
    background-color: $black;
    margin-right: $gutter*2;
    background-image: $spriteImage;
    background-position: -$tileBase*4 0;
    border: $simpleBorder;
}

.infoStatus__nameClass {
    flex-basis: 60%;
}

.infoStatus__name {
    font-size: 1rem;
    margin-top: 18px;
}

.infoStatus__class {
    font-size: .8rem;
    margin-top: 8px;
}

.heroi__point {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 0 $gutter;

    &:nth-of-type(even) {
        background-color: $gray;
    }
}

.heroi__point__desc {
    font-size: 0.7rem;
    margin: 0 0 $gutter/2;
}

.heroi__point__icon {
    width: 32px;
    height: 32px;
    display: inline-block;
    background-image: $spriteImage;

    &--forca {
        background-position: 0 (-$tileBase*2);
    }

    &--hab {
        background-position: (-$tileBase*1) (-$tileBase*2);
    }

    &--res {
        background-position: (-$tileBase*2) (-$tileBase*2);
    }

    &--pv {
        background-position: (-$tileBase*3) (-$tileBase*2);
    }
}

.infoStatus__history {
    font-size: 0.6rem;
    line-height: 1.6em;
}
